{% extends 'base.html' %}

{% block title %} Anime Details {% endblock %}

{% block depends %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/anime.css') }}"/>
{% endblock %}

{% block content %}
<div class="anime-top">
    <img class="anime-banner" id="anime-banner"></img>
    <div class="anime-description" id="anime-description"></div>
</div>

<div class="anime-detail-layout" id="anime-detail-layout">
    <div class="forum-section" id="forum-section">
        <h2>Discussions</h2>
        <div id="forum-container"></div>
    </div>
    <div id="forum-modal" class="forum-modal hidden">
        <div class="forum-modal-box">
          <button class="forum-close-btn">&times;</button>
          <h2>Create Forum</h2>
          <input id="forum-name" type="text" placeholder="Forum Title" />
          <textarea id="forum-desc" placeholder="Optional Description..."></textarea>
          <button id="forum-submit">Make Forum</button>
        </div>
      </div>
      
      <div id="forum-toast" class="forum-toast hidden">Forum created!</div>
      
    <div class="anime-sidebar">
        <div class="anime-stats-card" id="anime-stats">
            <!-- Stats populated by JS -->
        </div>
        <button class="btn-primary" type="button" id="forum-make-btn">Create a forum</button>
        <button class="btn-primary" type="button" id="anime-sub-btn" value="{{auth}}">
            {% if auth %}
                {% if not subbed %}
                Subscribe to this anime
                {% else %}
                Unsubscribe from this anime
                {% endif %}
            {% else %}
            Log in to subscribe to this anime
            {% endif %}
        </button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/anime.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/sub_anime.js') }}"></script>
{% endblock %}