<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="user-profile-url" content="{{ user_link }}">
    <title>Tenjin | {% block title %} {% endblock %}</title>

    <!-- Global stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/variables.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/globals.css')}}">
    <!-- Child specific dependencies -->
    {% block depends %}

    {% endblock %}
</head>

<body>
    <header class="site-header">
        <div style="display: flex; justify-content: space-evenly;">
            <a href="{{url_for('.index')}}">
                <div class="logo">Tenjin</div>
            </a>
            <a id="header-anime-link" href="{{url_for('.get_anime')}}">
                <div style="padding: 1rem; display: flex; flex-direction: column;">Animes</div>
            </a>
        </div>

        {% if not minHeader %}
        <nav class="nav-links" id="nav-links"></nav>
        {% endif %}
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <div class="logo">
            <span>Tenjin</span>
            <!-- <div class="f-symbols" style="display: flex; flex-direction: row; gap: 1rem;">
                <span>&copy;</span>
                <span>&trade;</span>
            </div> -->
        </div>
        <div class="links">
            <div>
                <a href="{{url_for('.about_us')}}" class="footer-link">About Tenjin</a>
                <a href="{{url_for('.contact')}}" class="footer-link">Contact Us</a>
                <a href="{{url_for('.privacy')}}" class="footer-link">Privacy Policy</a>
            </div>
            <div>
                <a href="{{url_for('.user_agreement')}}" class="footer-link">User Agreement</a>
                <a href="{{url_for('.cookies')}}" class="footer-link">Cookie Policy</a>
                <a href="{{url_for('.legal')}}" class="footer-link">Legal Notices</a>
            </div>
        </div>
    </footer>
    <scripts-section>
        <!-- Global scripts -->

        <!-- Child specific scripts -->
        <script type="text/javascript" src="{{url_for('static', filename='scripts/auth_check.js')}}"></script>
        {% block scripts %}
        {% endblock %}
    </scripts-section>
</body>

</html>