{% extends 'base.html' %}
{% block title %} Whoopsies! {% endblock %}



{% block depends %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/error.css')}}"/>
{% endblock %}

{% block content %}

<div class="error-container">
    <div class="error-info">

        <h3>Error: {{code}}</h3>
        <p>
            {{msg}}
        </p>

        <div class="links">
            {% for link in links %}
            <a href="{{link[1]}}">{{link[0]}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="error-image">
        <img src="{{url_for('static', filename='./assets/sorry_musashi.png')}}">
    </div>
</div>

{% endblock %}