{% extends 'base.html' %}
{% block title %} Forgot Password {% endblock %}

{% block content %}
<div id="form-modal" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 80vh; font-family: sans-serif;">
    <div style="margin-bottom: 1rem; font-size: 1.1rem; color: var(--FCOLOR-HIGHLIGHT); background-color: var(--BGCOLOR-TERTIARY); padding: 2rem; border-radius: 5px;">
        Enter your username or registered email and we'll send you a password reset link.
    </div>
    <input id = "identity" type="text" placeholder="Enter username/email"
        style="padding: 0.6rem; width: 260px; border: 1px solid #ccc; border-radius: 6px; margin-bottom: 1rem; font-size: 1rem;">
    <button id="recover-pass-btn" class="btn-primary">Send email</button>

    <span id="output"></span>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='scripts/forgot_password.js')}}"></script>
{% endblock %}