{% extends "base.html" %}

{% block title %}
{{ name }}
{% endblock %}

{% block depends %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/forum.css') }}">
<meta name="forumID" value="{{forum_mapping['forum']['id']}}">
<meta name="auth" value={{auth}}>
{% endblock %}

{% block content %}
<div class="forum-container">
    <div class="forum-header">
        <div class="left">
            <h2>{{name}}</h2>
        </div>
        <div class="right">
            <button class = 'btn-primary' id="sub-btn" subscribed={{subbed}}>
                {% if subbed %}
                    Unsubscribe
                {% else %}
                    Subscribe
                {% endif %}
            </button>
            <button class = 'btn-primary' id="create-post-btn">Create a post</button>
        </div>
    </div>
    <div class="forum-main">
        <div class="left-card">
            <div class="text-info">
                <h4>{{name}}</h4>
                <span id="forum_desc">
                    {{forum_mapping['forum']['description']}}
                </span>
                <span id="epoch">{{forum_mapping['forum']['created_at']}}</span>
            </div>
            <div class="stats">
                <div class="stat-block">
                    <span class="stat-header">Members</span>
                    <span class="stat-item" id="forum-subs">{{forum_mapping['forum']['subscribers']}}</span>
                </div>
                <div class="stat-block">
                    <span class="stat-header">Admins</span>
                    <span class="stat-item">{{forum_mapping['forum']['admin_count']}}</span>
                </div>
                <div class="stat-block">
                    <span class="stat-header">Posts</span>
                    <span class="stat-item" id="posts-count">{{forum_mapping['forum']['posts']}}</span>
                </div>
            </div>
            <hr>
            {% if rules in forum_mapping %}
            <div class="forum-rules">
                {% for rule in rules %}
                <div class="forum-rule">
                    <h4>{{rule['title']}}</h4>
                    <p>{{rule['body']}}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if forumAdmins %}
            <div class="forum-admins">
                {% for admin in forumAdmins %}
                <a target="_blank" href="{{url_for('.get_user', username=admin)}}">
                    <p>{{admin}}</p>
                </a>
                {% endfor %}
            </div>
            {% if showAllAdminsLink %}
            <button class="btn-primary" type="button" onclick="window.location.href = '/'">Show all admins</button>
            {% endif %}
            {% endif %}

        </div>
        <div class="posts">

            <div class="sort-time-bar">
                <div class="sort-options">
                    <label for="sort-select">Sort by:</label>
                    <select id="sort-select">
                        <option value="1">Top</option>
                        <option value="0" selected>Newest</option>
                    </select>
                </div>
                <div class="timeframe-options">
                    <label for="timeframe-select">Timeframe:</label>
                    <select id="timeframe-select">
                        <option value="5" selected>All Time</option>
                        <option value="0">This Hour</option>
                        <option value="1">Today</option>
                        <option value="2">This Week</option>
                        <option value="3">This Month</option>
                    </select>
                </div>
            </div>
            <div class="posts-scrollable" id="posts-scrollable">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/forum.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/forum_options.js') }}"></script>
{% endblock %}
