{% extends 'base.html' %}
{% block title %} Recover Account {% endblock %}

{% block content %}
<div id="recover-form-modal" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 80vh; font-family: sans-serif;">
    <div style="margin-bottom: 1rem; font-size: 1.1rem; color: white;">
        Please identify yourself and provide the password for your account.
    </div>
    <input type="text" id="identity" placeholder="Enter username or email"style="padding: 0.6rem; width: 260px; border: 1px solid #ccc; border-radius: 6px; margin-bottom: 1rem; font-size: 1rem;">
    <input type="password" id="password" placeholder="Enter new password"style="padding: 0.6rem; width: 260px; border: 1px solid #ccc; border-radius: 6px; margin-bottom: 1rem; font-size: 1rem;">
    <button id="recover-account-btn" class="btn-primary">Recover Account</button>

    <span id="output" style="margin: 1rem;"></span>

    <span style="width: 75%; padding: 10px; text-align: center;">For accounts within their 14 day recovery period, it is stil possible to change passwords. To do so, click below</span>
    <a href="{{url_for('templates.forgot_password')}}">Forgot password?</a>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='scripts/recover_account.js')}}"></script>
{% endblock %}