AUTH_DB_NAME=
MASTER_AUTH_SERVER_POSTGRES_USERNAME=
MASTER_AUTH_SERVER_POSTGRES_PASSWORD=
AUTH_SERVER_POSTGRES_USERNAME=
AUTH_SERVER_POSTGRES_PASSWORD=

RESOURCE_DB_NAME=
MASTER_RESOURCE_SERVER_POSTGRES_USERNAME=
MASTER_RESOURCE_SERVER_POSTGRES_PASSWORD=
RESOURCE_SERVER_POSTGRES_USERNAME=
RESOURCE_SERVER_POSTGRES_PASSWORD=
WORKER_POSTGRES_USERNAME=
WORKER_POSTGRES_PASSWORD=