SECRET_KEY=
SIGNING_KEY=

AUTH_WORKER_REDIS_USERNAME=
AUTH_WORKER_REDIS_PASSWORD=

SUPERUSER_POSTGRES_USERNAME=
SUPERUSER_POSTGRES_PASSWORD=

AUTH_SERVER_POSTGRES_USERNAME=
AUTH_SERVER_POSTGRES_PASSWORD=
