body {
    margin: 0;
    padding: 0;
}

body, html{
    height: auto;
    overflow-y: auto;
}

.preface {
    padding: 2rem 1rem;
    font-size: var(--FSIZE-L);
    color: var(--FCOLOR-HIGHLIGHT);
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6;
}

.top-bar {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem auto 2rem;

    & > #search-btn{
        border-radius: 5px;
    }
}

#search-bar {
    padding: 0.7rem 1rem;
    width: 50%;
    max-width: 500px;
    font-size: var(--FSIZE);
    color: var(--FCOLOR-PRIMARY);
    background-color: var(--BGCOLOR-TERTIARY);
    border: 1px solid var(--BDRCOLOR);
    border-radius: 8px;
    outline: none;
    transition: box-shadow 0.2s ease;
}

#search-bar:focus {
    box-shadow: 0 0 5px var(--FCOLOR-HIGHLIGHT);
}

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.8fr));
    gap: 1.2rem;
    padding: 2rem;
    justify-items: center;
}

.anime-card {
    background-color: var(--BGCOLOR-PRIMARY);
    color: var(--FCOLOR-PRIMARY);
    border: 1px solid var(--BDRCOLOR);
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    max-width: 380px;
    height: 420px; /* compact height */
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #000;
    transition: transform 0.3s ease;
    
        & img{
            transition:inherit;
            filter: grayscale(1) blur(5px) brightness(0.5);
            transition: 400ms;
        }
    }
    
    .anime-card:hover {
        transform: scale(1.03);
        cursor: pointer;
        
        img{
        transition: transform 0.3s ease;
        filter: grayscale(0) brightness(0.6);
    }
}

.banner {
    height: 45%;
    background-size: cover;
    background-position: center;
    filter: blur(2px) brightness(0.4);
}

.anime-content {
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    justify-content: space-between;
    overflow: hidden;
    gap: 0.4rem;
}

.anime-content h2 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    line-height: 1.2;
    text-shadow: 1px 1px 2px black;
}

.metadata {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    opacity: 0.85;
}

.anime-genres {
    font-size: 0.75rem;
    color: var(--FCOLOR-HIGHLIGHT);
    margin-bottom: 0.4rem;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.synopsis {
    font-size: 0.9rem;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* max 4 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 3rem;
    grid-column: span 2;
    background-color: var(--BGCOLOR-TERTIARY);
    border: 1px solid var(--BDRCOLOR);
    border-radius: 10px;
    font-size: var(--FSIZE-L);
    
    & button{
        margin: 1rem auto;
        padding: 1.5rem;
        font-size: var(--FSIZE-L);

    }
}